<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
        <!--Строка подключение к EmexMain-->
        <add name="Debugging" connectionString="Data Source=m-dts01;Initial Catalog=ADTS_TEST2;Integrated Security=True;Pooling=true;Application Name=Omega.Service.Tradesoft" xdt:Transform="Insert" />
    </connectionStrings>

    <appSettings>
        <add key="ApplicationName" value="Omega.Tradesoft.Service.Dev" xdt:Transform="Insert"/>
        <add key="ConfigurationName" value="Debug" xdt:Transform="Insert"/>
        <add key="ConnectionPrefix" value="Debugging" xdt:Transform="Insert"/>
    </appSettings>
</configuration>